<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LogFolder" value="C:\toolbox\ListCollectionDemo\" />
		<add key="AppDataFolder" value="C:\toolbox\ListCollectionDemo\" />
		<add key="TemplatejFileName" value="Templatej.json" />
	</appSettings>
</configuration>